.body {
  padding: 25px 5% 3% 5%
}

.img-small {
  width: 30%;
  max-width: 235px;
  float: left;
  margin-right: 3%;
}

.img-responsive {
  width: 100%;
}

.table > tbody > tr > td {
  border-style: none;
}

.btn-xs {
  margin-left: 15%;
}

.navbar {
  padding-left: 3%;
  margin-bottom: 0;
}

.col-md-6 {
  margin-bottom: 2%;
}

.listTable {
  margin-left: 8%;
  width: 70%;
}

.float-left {
  float: left
}

.white-font {
  color: white
}

h3{
  margin-top: 0;
}
