.body {
  padding: 75px 5% 3% 5%;
  background-color: #92b0cf;
  font-family: 'Inconsolata', monospace;
}

a{
  color: white
}

.campus-btn {
  padding: 1.5% 7%;
  margin-top: 5px;
  background-color: #a2c0df;
  border: 3px solid #607890;
  color: #4f6376
}

.btn-default, .form-control {
  background-color: #607890;
  border: 2px solid #a9c1d9;
  color: white
}

.btn-default {
  padding: 5px 12px;
}


.panel {
 background-color: #a2c0df;
 border: none;
 padding: 3%
}

.breadcrumb {
  background-color: #92b0cf
}

.navbar-default {
  background-color:#607890;
  border: none;
  font-family: 'Inconsolata', monospace;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: white
}

.img-small {
  width: 30%;
  max-width: 235px;
  float: left;
  margin-right: 3%;
}

.img-responsive {
  width: 100%;
}

.table > tbody > tr > td {
  border-style: none;
}

.btn-xs {
  margin-left: 15%;
}

.navbar {
  padding-left: 3%;
  margin-bottom: 0;
}

.col-md-6 {
  margin-bottom: 2%;
}

.listTable {
  margin-left: 8%;
  width: 70%;
}

.float-left {
  float: left
}

.white-font {
  color: white
}

h3{
  margin-top: 0;
}
