.body {
  padding: 5px 5% 3% 5%
}

.img-responsive {
  width: 30%;
  max-width: 235px;
  float: left;
  margin-right: 3%;
}

.table > tbody > tr > td {
  border-style: none
}

.listTable {
  margin-left: 8%;
  width: 70%;
}

h3{
  margin-top: 0;
}
